<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>T1:</strong>
  <%= @news.t1 %>
</p>

<p>
  <strong>T2:</strong>
  <%= @news.t2 %>
</p>

<p>
  <strong>T3:</strong>
  <%= @news.t3 %>
</p>

<p>
  <strong>T4:</strong>
  <%= @news.t4 %>
</p>

<p>
  <strong>T5:</strong>
  <%= @news.t5 %>
</p>

<p>
  <strong>T6:</strong>
  <%= @news.t6 %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
