
<h1>DANH SACH USER</h1>

<%= form_tag "/add" do %>
<table border="1" style="width:50%">
  <thead>
    <tr>
      <th>id</th>
      <th>tên</th>
      <th>tuổi</th>
      <th>gmail</th>
      <th>password</th>
      <th>edit</th>
      <th>xoa</th>
      <th>add</th>
      <th colspan="5"></th>
    </tr>
 <tbody>
 <% @hs.each do |f| %>
   <tr>
        <td><%=f.id%> </td>
        <td><%=f.name%> </td>
        <td><%=f.age%></td>
        <td><%=f.gmail%></td>
        <td><%=f.password%></td>
        <td><%= link_to 'edit', "/edit?id=#{f.id}" %></td>
        <td><%= link_to 'xoa', "/xoa?id=#{f.id}" %></td>
        <td><%= link_to 'add', "/add?id=#{f.id}" %></td>
        <td><%= link_to 'load', "/load?id=#{f.id}" %></td>
  <% end %>
 </tbody>
 </thead>
 </table>
 <br>
 <%= submit_tag "add" %>
<%end%>